{% extends 'base.html' %}

{% block title %}Add category{% endblock %}

{% block content %}
<h2>Добавить категорию</h2>
<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="alert alert-danger my-3">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

{% endblock %}