{% extends 'base.html' %}


{% block title %}Aliexpress{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    <div class="mt-4 px-4 py-6 rounded">
      <h4 class="mb-6 h4">Categories ></h4>

      <ul class="list-unstyled text-muted">
        {% for category in categories %}
          <li>
            <a href="#" class="text-decoration-none">
              {{ category.name }} <span class="badge bg-secondary">{{ category.products.count }} items</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="mt-4 px-4 py-6 rounded col-md-9">
    <div class="row row-cols-1 row-cols-md-4 g-4 text-center">
      {% for product in products %}
        <div class="col">
          <a href="{% url 'item:detail' product.id %}" class="text-decoration-none">
            <div class="card">
              <img src="{{ product.image.url }}" class="card-img-top rounded" style="height: 200px; object-fit: cover;" alt="Product Image">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text text-muted">Price: {{ product.price }} $</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}