{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-lg-6">
      <img src="{{ product.image.url }}" class="rounded img-fluid">
    </div>

    <div class="col-lg-6 p-4">
      <h1 class="mb-4 display-4">{{ product.name }}</h1>
      <p><strong>Price: </strong>{{ product.price }} $</p>
      <p><strong>Seller: </strong>{{ product.created_by.username }}</p>
      <hr>
      <h2 class="h4 mb-2">Description: </h2>
      {% if product.description %}
        <p>{{ product.description }}</p>
      {% endif %}
      {% if request.user == product.created_by %}
        <div class="mt-4 p-3 bg-light rounded shadow">
          <p class="text-dark">My product</p>
          <a href="{% url 'item:edit' product.id %}" class="btn btn-success">Edit</a>
          <a href="{% url 'item:delete' product.id %}" class="btn btn-danger">Delete</a>
        </div>
      {% else %} 
        <a href="#" class="btn btn-primary">Contact Seller</a>
      {% endif %}
    </div>
  </div>
</div>
<div class="mt-4 px-4 py-6 bg-light rounded">
  <h2 class="mb-3 h2 text-center">Related products</h2>

  <div class="row row-cols-1 row-cols-md-3 g-3">
    {% for product in related_products %}
      <div class="col">
        <a href="{% url 'item:detail' product.id %}" class="text-decoration-none">
          <div class="card h-100 shadow-sm">
            <img src="{{ product.image.url }}" class="card-img-top" style="height: 200px; object-fit: cover;" alt="Product Image">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text text-muted">Price: {{ product.price }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<div>
  <h2>Reviews</h2>
  {% for review in product.reviews.all %}
  <div class="comment">
    <p>{{ review.content }}</p>
    <p>By: {{ review.user.username }}</p>
  </div>
  {% empty %}
    <p>No comments yet.</p>
  {% endfor %}
  {% if user.is_authenticated %}
    <h2>Add a Review</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% endif %}
</div>




{% endblock %}